beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
idna==3.4
markdown-it-py==3.0.0
mdurl==0.1.2
Pillow==10.0.0
prompt-toolkit==1.0.14
Pygments==2.15.1
PyInquirer==1.0.3
regex==2023.6.3
requests==2.31.0
rich==13.4.2
shellingham==1.5.0.post1
six==1.16.0
soupsieve==2.4.1
typer==0.9.0
typing_extensions==4.7.1
urllib3==2.0.4
wcwidth==0.2.6
